<div id="filterrific_results">
  <div class="container">
    <div class="card-deck">
      <div class="container">
        <div class=" row row-cols-1 row-cols-sm-2">
          <% supermarkets.each do |s| %>
            <div class="col-12 col-sm-6 mb-2 mb-sm-4">
              <div class="card py-0 py-sm-4">
                <div class="card-body py-2">
                  <div class="container">
                    <div class="row">
                      <div class="col-4 col-sm-3 p-2 text-black-50">
                        <%= image_tag 'logo_aipota_delivery.png', class: 'img-fluid' %>
                      </div>
                      <div class="col-8 col-sm-9">
                        <%= link_to s.name, supermarket_path(s),
                                    :class => 'h5 card-title stretched-link',
                                    :style => 'text-decoration: none' %>
                        <p class="card-text"><%= s.direction %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
