<!--<p id="notice"><%#= notice %></p>-->
<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>

  <div class="container">
    <form>
      <div class="row justify-content-center">
        <div class="col-8 col-md-6 col-lg-8">
          <%= f.text_field :search_query, class: 'form-control', placeholder: 'Busca un super' %>
        </div>
        <div class="col-2 col-md-2 col-lg-2">
          <button class="btn btn-primary">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>


  <%# add an automated spinner to your form when the list is refreshed %>
  <%#= render_filterrific_spinner %>
<% end %>

<%= render(
      partial: 'supermarkets/list',
      locals: { supermarkets: @supermarkets }
    ) %>