<%= render partial: "welcome/navbar" %>
<div class="my-background">
  <div class="mt-5 pt-5 mt-sm-5 pt-sm-5">
    <%= render(
          partial: "supermarkets/search_bar",
          locals: { filterrific: @filterrific, supermarkets: @supermarkets }
        ) %>
    <%= render(
          partial: "supermarkets/carousel"
        ) %>
  </div>
</div>

