<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @supermarket.name %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @supermarket.direction %>
</p>

<%= link_to 'Back', supermarkets_path %>
