<nav class="navbar navbar-dark bg-aipota navbar-expand-sm fixed-top">
  <div class="container">
    <div class="col-8 col-sm-10">
      <div class="row align-items-center">
        <div class="col-3 d-block d-sm-none">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col col-sm-1">
          <a href="#" class="navbar-brand d-none d-sm-block">
            <%= image_tag "logo_aipota_delivery.png", class: "img-fluid ml-0 d-none d-sm-block", id: "img-brand" %>
          </a>
          <p class="h3 d-block d-sm-none text-white">Aipota Delivery</p>
        </div>
        <div class="col d-none d-sm-block">
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-0">
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="bi bi-house-door"></i> Inicio</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="bi bi-graph-up"></i> Reportes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 col-sm-2">
      <ul class="navbar-nav mr-0">
        <div class="row">
          <div class="col-4">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="bi bi-bell"></i></a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="bi bi-person"></i></a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="bi bi-calculator-fill"></i></a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>