// Place all the styles related to the Supermarkets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#main-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}