<div class="modal fade" id="cart-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="cart-modal-content">
      <div class="modal-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <h5 class="text-blue text-center">Carrito</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Productos</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="col">Jugo Liquido Baggio</th>
                    <td>1</td>
                    <td>2.500 Gs.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <button type="button" class="btn my-button-primary text-colot-secondary mx-1">Vaciar</button>
            <button type="button" class="btn btn-aipota-primary my-button-primary text-white mx-1">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>