$('#cart-modal-content').html("<%= j render 'products/cart', cart: @cart, layout: false %>");
/**
 * Read the local storage and insert the items to the cart table
 */
if (JSON.parse(localStorage.getItem('cart-items')) != null) {
    for (let k in JSON.parse(localStorage.getItem('cart-items'))) {
        $('#cart-table-body').append(
            '<tr>' +
            '<th scope="col" class="text-left">' + JSON.parse(localStorage.getItem('cart-items'))[k].description +
            '</th>' +
            '<td class="text-center">' + JSON.parse(localStorage.getItem('cart-items'))[k].quantity + '</td>' +
            '<td class="text-center">' + JSON.parse(localStorage.getItem('cart-items'))[k].quantity *
            JSON.parse(localStorage.getItem('cart-items'))[k].price + '</td>' +
            '<td>' +
            '<button class="btn btn-sm btn-outline-danger bi bi-trash"></button>' +
            '</td>' +
            '</tr>'
        );
    }
}

$('#total-label').text((localStorage.getItem('total') ? localStorage.getItem('total') : 0) + " Gs.");
$('#cart-modal').modal('show');

if(localStorage.getItem('maximum-budget') == null || localStorage.getItem('maximum-budget') === ''){
    ocultarCartMaximumBudget();
}else{
    let presupuesto_int = parseInt(localStorage.getItem("maximum-budget").toString().replace(".", ""));
    $('#maximum-budget-label').text((localStorage.getItem('maximum-budget') ?
        presupuesto_int : 0) + " Gs.");
    mostrarCartMaximumBudget();
}

function ocultarCartMaximumBudget(){
    document.getElementById('cart-maximum-budget').style.display = 'none';
}

function mostrarCartMaximumBudget(){
    document.getElementById('cart-maximum-budget').style.display = 'block';
}

$('#clearCart').click(() => {
    localStorage.removeItem('cart-items');
    localStorage.removeItem('total');
});